article h2 {
  padding: 0;
  margin: 0;
}
article time {
  font-size: small;
  color: #999999;
  display: block;
}
article footer {
  margin-top: 1em;
}
a.brand {
  text-decoration: none;
  color: #000000;
}
a.brand:hover {
  text-decoration: none;
  color: #000000;
}